{% extends "base.html" %}
{% load static %}



{% block main_content %}



        <!-- Page Header End -->
        <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">About Us</h1>
             
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3"> " The Only Disability in Life, Is A Bad Attitude" - Scott Hamilton</h1>
                    <p class="mb-5">Lions Club of Surathkal was founded in1968 and has been deeply involved with need-based humanitarian activities for the last 56 years.</p>
                    <h1 class="mb-3"> Our School </h1>
                    <p>{{our_school.0.our_School}}</p>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class='img-fluid w-75 rounded-circle bg-light p-3' src="{% static 'resources/buildingfront.jpg' %}" alt=''>
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class='img-fluid w-100 rounded-circle bg-light p-3' src="{% static 'resources/indoorHall.jpg' %}" alt=''>
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class='img-fluid w-100 rounded-circle bg-light p-3' src="{% static 'resources/cctv.jpg' %}" alt=''>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Infrastructure</h1>
                        <p>The present school is 3450 sq. ft and includes 12 classrooms, hall an area for yoga and exercise, food court, conference hall, Physiotherapy, Psychology and Psychiatry room, and an office for the Accountant and Head Mistress.</p>
                        <p class="mb-4">With the growing number of students, (72 at present), we need to expand our facilities to improve the quality of life of our children.</p>
                        <p class="mb-4">Though we receive grant from Karnataka State government, we are falling short despite using the entire backup reserve from our school funds. The Lions Club Surathkal members are generous enough to donate from their own pockets. The generosity of kind hearted people like you will add to our effort and boost the functioning of the school.</p>
                        <p class="mb-4">This school project is a need-based humanitarian activities and an ambitious project, but we believe, it can function with support of generous corporates and philanthropists.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Donation to Lions Seva Trust is exempted u/s 80 G of the Income Tax Act 1961.</h6>
                                        <small>F. No-L-11/80G/CIT/MNG/2012-13/AAATL2415Q</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Become A Teacher</h1>
                                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                                    Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                                </p>
                                <!-- <a class='btn btn-primary py-3 px-5' href=''>Get Started Now<i class='fa fa-arrow-right ms-2'></i></a> -->
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class='position-absolute w-100 h-100 rounded' src="{% static 'img/call-to-action.jpg' %}" style='object-fit: cover;'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->


        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3"> Activities</h1>
            <p class="mb-3">We have regular classrooms where children are taught to read and write in English. Classrooms are split into pre-primary, primary, secondary, pre-vocational, vocational sections. And students are placed in different section depending on their mental ability and IQ.</p>
            <p>Physical exercises and yoga are part of daily routine. Physiotherapy and speech therapy treatments are regularly given to needy children. We counsel children regularly.</p>
        </div>


{% endblock  %}

 