{% extends "base.html" %}
{% load static %}



{% block main_content %}
        <!-- About Start -->
            <center>
                <div class="srh_body">

                    
                    <form action="{% url "event" %}" method="POST">
                        {% csrf_token %}
                        <div class="search-bar">
                            <input type="text" class="search-input" id="searchText" name="searchText" placeholder="Enter search text">
                            <button type="submit" class="search-button" name="nameSearchbtn">Search by Name</button>
                        </div>
                    </form>
                    <form action="{% url "event" %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <input type="date" id="startDate" name="startDate" class="date-input datepicker" placeholder="From Date" required>
                            <input type="date" id="endDate" name="endDate" class="date-input datepicker" placeholder="To Date" required>
                            <button type="submit" class="search-button" name="dateSearchbtn">Search by Date</button>
                        </div>
                    </form>
                </div>
            </center>

            {% for event in data %}
            <div class="event_master">
                <div class="event-card">
                    <img src="{{event.cvr}}" alt="Event Image">
                    <div class="event-info">
                        <h2>{{ event.title }}</h2>
                        <p>Date: {{ event.date }}</p>
                        {% comment %} <p>Description: {{ event.description }}</p> {% endcomment %}
                        <form action="{% url "event" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="etitle" value="{{event.title}}">
                            <input type="hidden" name="edate" value="{{event.date}}">
                            <input type="hidden" name="edis" value="{{event.description}}">
                            <input type="hidden" name="ecvr" value="{{event.cvr}}">
                            <input type="hidden" name="eimg" value="{{event.img}}">
                            <input type="hidden" name="eimg" value="{{event.img}}">
                            <input type="hidden" name="eimg" value="{{event.img}}">
                            <button type="submit" name="detailView">Read More:-</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}


                

{% endblock  %}
