{% extends "base.html" %}
{% load static %}



{% block main_content %}
        <!-- About Start -->

          <!-- Page Header End -->
          <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Achivements</h1>
             
            </div>
        </div>
        <!-- Page Header End -->

                {% comment %} <div class="srh-master">

                    <div class="srh_body">
                        
                        
                        <form action="{% url "event" %}" method="POST">
                            {% csrf_token %}
                            <div class="search-bar">
                                <input type="text" class="search-input" id="searchText" name="searchText" placeholder="Enter search text">
                                <button type="submit" class="search-button" name="nameSearchbtn">Search by Name</button>
                            </div>
                        </form>
                    </div>
                    <div class="srh_body">
                        <form action="{% url "event" %}" method="POST">
                            {% csrf_token %}
                            <div class="dt-search">
                                <input type="date" id="startDate" name="startDate" class="date-input datepicker" placeholder="From Date" required>
                                <input type="date" id="endDate" name="endDate" class="date-input datepicker" placeholder="To Date" required>
                                <button type="submit" class="search-button" name="dateSearchbtn">Search by Date</button>
                            </div>
                        </form>
                        
                    </div>
                </div> {% endcomment %}

            <div class="event_master flex wrap">
            {% for achive in achives %}
                <div class="event-card">
                    {% if achive.Cover_Image %}
                    <img src="{{achive.Cover_Image}}" alt="Event Image">
                    {% else %}
                    <div class="event-info-alt">LSS Event</div>
                    {% endif %}

                    <div class="event-info">
                        <h2>{{ achive.Name }}</h2>

                        {% comment %} {% if achive.Date %}
                        <p>Date: {{ achive.Date }}</p>
                        {% endif %} {% endcomment %}

                        <form action="{% url "event" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="etitle" value="{{achive.Name}}">
                            <input type="hidden" name="edate" value="{{achive.Date}}">
                            <input type="hidden" name="edis" value="{{achive.Description}}">
                            <input type="hidden" name="ecvr" value="{{achive.Cover_Image}}">
                            <input type="hidden" name="eimg" value="{{achive.Event_Image_1}}">
                            <input type="hidden" name="eimg" value="{{achive.Event_Image_2}}">
                            <input type="hidden" name="eimg" value="{{achive.Event_Image_3}}">
                            <button class="event-btn" type="submit" name="detailView">Read More</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>


                

{% endblock  %}
