{% extends "base.html" %}
{% load static %}



{% block main_content %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">"{{ det_title }}"</h1>
                        <h3 class="mb-4">"{{ det_date }}"</h3>
                        <p>"{{det_dis}}"</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <!-- <img class='rounded-circle flex-shrink-0' src="{% static 'img/user.jpg' %}" alt='' style='width: 45px; height: 45px;'> -->
                                    <!-- <div class="ms-3">
                                        <h6 class="text-primary mb-1">Jhon Doe</h6>
                                        <small>CEO & Founder</small>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fadeInUp wrap" data-wow-delay="0.5s">
                        <div class="box ">
                         
                                <div class="card1">
                                    <img src="{{det_cvr}}"alt="Placeholder Image">
                                </div>
                          
                                <div class="card1">
                                    <img src="{% static 'img/about-2.jpg' %}" alt="Placeholder Image">
                                </div>
                            
                                <div class="card1">
                                    <img src="{% static 'img/about-3.jpg' %}" alt="Placeholder Image">
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock  %}
