body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
}
    

.search-input {
    width: 20%;
    padding: 10px;
    border: 2px solid #fe7555;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-button {
    padding: 10px;
    background-color: #fe7555;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .search-container {
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .search-input {
        width: calc(100% - 40px);
    }
}

.search-bar {
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
  }

  .search-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d24;
    color: #fff;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #ce2600;
  }

  .error-message {
    color: red;
  }

.date-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    box-sizing: border-box;
  } 

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
/* Existing styles... */

event_master{
    display: flex;
    flex-direction: column;
}
.event-card {
    width: 45%;
    margin: 20px auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.event-card img {
    width: 57%; /* Adjust as needed */
    height: auto;
    object-fit: cover;
}

.event-info {
    padding: 10px;
    width: 100%; /* Adjust as needed */
    box-sizing: border-box;
}

.event-info h2 {
    margin-top: 0;
}
  

.srh_body{
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    background-color: #ff4c241f;
}