.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.wrap{
    flex-wrap: wrap;
}

.dt-search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-right: 0; */
}

.center{
    justify-content: center;
}